<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.files.user-selected.executable</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.files.all</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>Library/Containers/com.docker.docker/Data/</string>
		<string>Library/Group Containers/group.com.docker/</string>
		<string>.docker/</string>
		<string>.npm/_cacache/</string>
		<string>Library/Developer/Xcode/DerivedData/</string>
		<string>Library/Developer/Xcode/Archives/</string>
		<string>Library/Caches/CocoaPods/</string>
		<string>.gradle/caches/</string>
		<string>Library/Caches/Google/AndroidStudio*/</string>
		<string>Library/Application Support/Google/AndroidStudio*/</string>
		<string>.android/cache/</string>
		<string>Library/Application Support/Code/Cache/</string>
		<string>Library/Application Support/Code/CachedData/</string>
		<string>Library/Application Support/Code/CachedExtensions/</string>
		<string>.vscode/extensions/</string>
		<string>Library/Caches/pip/</string>
		<string>.cache/pip/</string>
		<string>**/*.pyc</string>
		<string>.gem/ruby/</string>
		<string>Library/Caches/</string>
	</array>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.docker.docker</string>
	</array>
</dict>
</plist>
